.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  padding-top: 80px;
}

.products {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: repeat(4, 250px); */
  grid-template-columns: 1fr;
  justify-content: center;

}

.card {
  box-shadow: 0 0 2px 1px gray;
  border-radius: radius;
  min-width: 28rem;
  display: flex;

}

.card-img {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
}

.home {
  text-decoration: none !important;
  padding-right: 25px;
}

.dropdown-link a {
  background-color: #282c34;
  color: rgb(232, 241, 237);
}

.click {
  cursor: pointer;
}

.plusminus {
  border-radius: 0.25em;
}

.space-before {
  height: 30px;
}

.mb-2 {
  text-decoration: none;
}

@media screen and (min-width:600px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));

  }
}